{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col align-items-center">
                    <img src="../static/profile pictures/{{ current_user.profile_photo }}" class="rounded-circle" alt="..." style="width: 125px; height: 125px;"><br>
                    <strong>Юзернейм: </strong> {{ current_user.username }}<br>
                    <strong>Почта: </strong> {{ current_user.email }}<br><br>
                    <a type="button" class="btn btn-outline-primary" href="/change_info">Изменить информацию об аккаунте</a>
            </div>
            <div class="col">
            </div>
            <div class="col justify-content-end">
                <a type="button" class="btn btn-outline-primary" href="/crate_article" style="margin-right: 15px;">Создать статью</a>
                <a type="button" class="btn btn-outline-primary" href="/create_trad">Создать обсуждение</a>
            </div>
        </div>
    </div>
{% endblock %}