<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>

<body>
    {% block header %}
        <div class="container" style="height: 50px">
            <div class="row">
                <div class="col justify-content-start">
                    <h3><strong>ProgerForum</strong></h3>
                </div>
                <div class="col">
                    {% if current_user.is_authenticated %}
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Статьи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Обсуждения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/account/{{current_user.id}}">Аккаунт</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/logout">Выйти</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Войти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/registration">Зарегистрироваться</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %} <br><br>

    {% block content %}
        {% if current_user.is_anonymous %}
            <div class="container align-items-center" style="height: 300px">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <h4>Присоединятесь&nbsp;к&nbsp;нам&nbsp;и&nbsp;общайтесь с другими программистами!</h4>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container align-items-center" style="height: 270px">
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                            <a class="btn btn-outline-dark" href="/registration" role="button">Присоединиться</a>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-around">
                    <div class="col">
                        <h5><strong>Дружелюбное коммьюнити</strong></h5>
                    </div>
                    <div class="col">
                        <h5><strong>Активное сообщество</strong></h5>
                    </div>
                    <div class="col">
                        <h5><strong>Свободное обсуждение</strong></h5>
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="col">
                        <small>Все пользователи доброжелательны друг к другу</small>
                    </div>
                    <div class="col">
                        <small>Пользователи регулярно публикуют контент</small>
                    </div>
                    <div class="col">
                        <small>Обсуждайте с пользователями любые темы, связанные с айти</small>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <h1 class="align-items-center"> Обсуждения </h1>
                <div class="row">
                    {% for item in trads %}
                        <div class="col" style="margin-bottom: 20px;">
                            <div class="card" style="width: 15rem;">
                                <img src="../static/trads pictures/{{ item.trad_photo }}" class="card-img-top" alt="..." style="width: 15rem; height: 15rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.title }}</h5>
                                    <p class="card-text">{{ item.preview }}</p>
                                    <p><a class="card-text" href="/user/{{ item.user.id }}">{{ item.user.username }}</a></p>
                                    <a href="/trad/{{ item.id }}" class="btn btn-primary">Перейти к треду</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <strong>Здесь пока ничего нет</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block footer %}
        <footer style="margin-top: 300px; margin-bottom: 30px;">
            <div class="container align-items-center">
                <div class="container text-center">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col-4 justify-content-end">
                            <h5>ProgerForum</h5><br>
                            <strong>Спасибо за интерес к проекту!</strong>
                        </div>
                        <div class="col-2">
                            <ul class="nav justify-content-end">
                                <li>
                                    <strong>Соц. сети проекта</strong><br>
                                    <a class="nav-link active" aria-current="page" href="https://github.com/yaxzo/web-project-forum" target="_blank">
                                        GitHub
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <ul class="nav">
                                <li>
                                    <strong>Для разработчиков</strong><br>
                                    <a class="nav-link active" aria-current="page" href="https://github.com/yaxzo/web-project-forum/blob/main/forum-api-docs.md" target="_blank">
                                        API
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</body>
</html>